// Content 

// Custom variables size 
@fs12: 12px;
@fs14: 14px;
@fs18: 18px;
@fs22: 22px;
@fs30: 30px;
@fs36: 36px;

// Custom variables colors 
@white: #fff;
@navLinks: #1a1a1a; // dark brown 
@postTime: #808080;
@postSingleTime: #b2b2b2;
@postPar: #8c8c8c;
@paginateBorder: #ebebeb;
@paginateLink: #666666;
@paginateActiveBg: #3c6cab; // blue 
@largeBannerTextBg: rgba(60, 108, 171, 0.8); // paginateActiveBg with opacity 
@singlePostPar: #999999;
@tagsBg: #f2f2f2;
@inputBorder: #e6e6e6; // light grey
@shopFiltersColor: #a6a6a6; // light grey on the shop filters
@testimonialsDots: rgba(137, 175, 225, 0.15); // light blue
@testimonialsActiveDots: #6389bc; // blue
@inputAddToCart: #cccccc;
@productThumbnailsNav: rgba(248, 248, 248, 0.8);
@contact_info: #050505; // close to black color 

// Author style 
@auName: #090909;

// Fonts 
@Montserrat: "Montserrat", sans-serif;
@Poppins: "Poppins", sans-serif;
@OpenSans: "Open Sans", sans-serif;
@Roboto: "Roboto", sans-serif;

// Font Faces 
@font-face {
    font-family: star;
    src: url(fonts/star.eot);
    src: url(fonts/star.eot?#iefix) format("embedded-opentype"), url(fonts/star.woff) format("woff"), url(fonts/star.ttf) format("truetype"), url(fonts/star.svg#star) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: WooCommerce;
    src: url(fonts/WooCommerce.eot);
    src: url(fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(fonts/WooCommerce.svg#WooCommerce) format("svg");
    font-weight: 400;
    font-style: normal;
}
// Mixins 
.blockquote {
	color: #4d4d4d;
	font-size: 23px;
	font-family: @OpenSans;
	font-weight: 600;
	font-style: italic;
	padding-left: 26px;
	border-left: 5px solid #e6e6e6;
	line-height: 30px;
	margin-bottom: 35px;
}
.tags {
	display: inline-block;
	color: @singlePostPar;
	font-size: @fs14 - 1;
	padding: 10px 9px;
	background-color: @tagsBg;
	margin: 0 5px;
	transition: all 0.2s linear;
	&:first-child {
		margin-left: 0;
	}
	&:hover, &:focus, &:hover:focus {
		color: @white;
		background-color: @paginateActiveBg;
	}
}
.pagination {
	padding: 29px 0;
	border-top: 1px solid @paginateBorder;
	border-bottom: 1px solid @paginateBorder;
	display: inline-block;
	width: 100%;
}
.pagination-left-text {
	display: inline-block;
	color: #090909;
	font-family: @Montserrat;
	font-size: @fs18;
	text-transform: uppercase;
}
.pagination-text-right {
	padding: 10px 15px;
	color: @paginateLink;
	border: 1px solid @paginateBorder;
	font-family: @Montserrat;
	font-size: @fs12;
	margin: 0 3px;
	width: 36px;
	height: 36px;
}
.cust-heading { 
	font-size: @fs22 - 2;
    font-weight: 600;
    line-height: @fs22 + 4;
    font-family: @Montserrat;
    text-transform: uppercase;
    text-align: center;
    color: @navLinks;
    position: relative;
    margin-bottom: 40px;
	&:before, &:after {
		content: "";
	    border-top: 2px solid #e7e7e7;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translateY(-50%);
	    width: 42%;
	}
	&:after {
		left: auto;
		right: 0;
	}
}
.view-cart {
	display: inline-block;
	color: @navLinks;
	font-size: @fs14;
    position: absolute;
    top: 0;
    right: 0;
    background: #f0f8ff;
    padding: 11px 10px 12px;
    transition: all 0.2s linear;
    &:hover, &:focus, &:hover:focus {
		background-color: #8ca9a8;
		color: @white;
	}
}

.post-wrap {
	margin-bottom: 60px;
	&:nth-child(3n + 1) {
		clear: both;
	}
	.post-thumbnail {
		position: relative;
		margin-bottom: 40px;
		.post-quote {
			display: none;
			position: absolute;
			top: 50%;
			width: 100%;
			color: @white;
			font-family: @OpenSans;
			font-size: @fs22 - 2;
			line-height: @fs22;
			text-align: center;
			transform: translateY(-50%);
			padding-left: 12%;
			padding-right: 12%;
			&:before {
				content: "\201C";
			}
			&:after {
				content: "\2019\2019";
			}
		}
	}
	.format-quote {
		.post-thumbnail {
			&:before {
				content: "";
				transition: all 0.3s linear;
			}
			&:hover {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0, 0.4);
				}
				.post-quote {
					display: block;
				}
			}
		}
	}
	.format-link {
		h2 {
			a {
				text-decoration: underline;
				color: @paginateActiveBg;
			}
		}
	}
	.post-time {
		font-size: @fs12; 
		margin-bottom: 23px;
		font-weight: 600;
		color: @postTime;
		text-transform: uppercase;
	}
	h2 {
		margin-bottom: 15px;
		a {
			color: @navLinks;
			font-family: @Poppins;
			font-size: @fs22;
			font-weight: 600;
		}
	}
	p {
		color: @postPar;
		font-size: @fs14;
		font-family: @OpenSans;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.owl-dots {
		position: relative;
		bottom: 25px;
    	margin-bottom: -25px;
	}
}
.paginating {
	float: right;
	.page-numbers {
		.pagination-text-right;
		&:last-child {
		margin-right: 0;
		}
		&.current, &:hover {
			background-color: @paginateActiveBg;
			border-color: transparent;
			color: #fff;
		}
	}
}
.paginate {
	.pagination;
}
.showing-posts {
	.pagination-left-text;
	color: @shopFiltersColor;
	font-size: @fs14 - 1;
	.posts-count {
		color: #343434;
	}
}
// single styling
.post-single {
	.post-thumbnail {
		margin-bottom: 43px;
	}
	h2 {
		margin-bottom: 10px;
		color: @navLinks;
		font-family: @Poppins;
		font-size: @fs22;
		font-weight: 600;
	}
	.post-time {
		color: @postSingleTime;
		font-size: @fs14;
	}
	.post-comments {
		font-size: @fs14;
	}
	.post-data {
		font-size: @fs14;
		margin-bottom: 50px;
	}
	.post-content {
		margin-bottom: 50px;
	}
	.post-social {
		float: right;
		li {
			&:first-child {
				margin-left: 5px;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	p {
		color: @singlePostPar;
		margin-bottom: 20px;
	}
	blockquote p {
		.blockquote;
	}
	img.left {
		float: left;
		margin: 25px 55px 45px 0;
	}
	img.right {
		float: right;
		margin: 25px 0 45px 55px;
	}
	.galery-carousel {
		.owl-nav {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			.owl-next, .owl-prev {
				position: absolute;
				top: 45%;
				transform: translateY(-50%);
				width: 10%;
				height: 30%;
				border-radius: 0;
				background-color: rgba(255,255,255,0.2);
				margin: 0;
				&:hover, &.disabled {
					background-color: rgba(0,0,0,0.7);
					color: @white;
				}
				i.fa {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.owl-next {
				right: 0;
			}
			.owl-prev {
				left: 0;
			}
		}
		.owl-dots {
			display: none;
		}
	}
	.gallery-item {
		margin-bottom: 30px;
		img {
			border-radius: 3px;
			outline: 2px solid #a3c2f0;
			outline-offset: -10px;
			transition: all 0.3s ease-in;
			&:hover {
				transform: scale(1.2);
				outline: none;
			}
		}

	}
}
.post-tags {
	margin-bottom: 70px;
	a {
		.tags;
	}
}
.share-post {
	.pagination;
	margin-bottom: 70px;
	.share-text {
		.pagination-left-text;
	}
}
.post-social {
	li {
		float: left;
		margin: 0 5px;
	&:first-child {
		margin-left: 0;
	}
		a {
			.tags;
			display: inline;
			margin: 0;
			padding: 9px 10px;
			max-width: 30px;
			max-height: 30px;
		}
	}
}
.post-user {
	margin-bottom: 70px;
	.author {
		&-avatar {
			display: inline-block;
			float: left;
			margin-right: 43px;
		}
		&-data .author {
			&-name {
				margin-bottom: 20px;
				a {
					color: @auName;
					font-size: @fs30;
					font-family: @Montserrat;
				}
			}
			&-description {
				color: @singlePostPar;
				font-size: @fs14+2;
				font-family: @OpenSans;
				line-height: 28px;
			}
		}
	}
}
.posted-comments, {
	.comment-title {
		.pagination;
		.posted-comments-count {
			.pagination-left-text;
		}
	}
}
.post-comments, .commentlist {
	.comment {
		&-meta {
			overflow: hidden;
		}
		&-author-avatar, .avatar {
			float: left;
			margin-right: 32px;
		}
		&-author-name, .meta {
			display: block;
			color: @auName;
			font-family: @Montserrat;
			font-size: @fs24;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
		&-time {
			display: block;
			font-size: @fs14 + 2;
			font-weight: 600;
			font-family: @OpenSans;
			color: @singlePostPar;
			margin-bottom: 20px;
		}
		&-text {
			color: @singlePostPar;
			font-size: @fs14+ 2;
			text-transform: none;
			margin-bottom: 20px;
		}
		&-reply {
			font-family: @OpenSans;
			font-size: @fs14 - 1;
			font-weight: 600;
			text-transform: uppercase;
		}
		ul.children {
			padding-left: 120px;
		}
	}
	li.comment {
		& > div {
			padding: 70px 0;
		}
	}
	& > li.comment:not(:last-child) {
		border-bottom: 1px solid @paginateBorder;
	}
}
.commentlist {
	.comment-text {
		overflow: hidden;
	}
}
.add-post {
	.pagination;
	margin-bottom: 50px;
}
// Comment form 
.comment-form, {
	.comment-form-field, p {
		display: block;
		margin-bottom: 30px;
		input, textarea {
			width: 100%;
			padding: 15px 0;
			font-family: @OpenSans;
			font-size: @fs14 + 2;
			border: none;
			border-bottom: 2px solid @inputBorder;
			&:hover, &:focus, &:hover:focus {
				outline: none;
			}
		}
		.comment-area {
			margin-bottom: 22px;
		}
	}
	.form-submit {
		padding: 0 15px;
		margin-bottom: 40px;
	}
	.comment-submit, #submit {
		color: @white;
		font-size: @fs14;
		width: auto;
		font-weight: 600;
		font-family: @Montserrat;
		line-height: 36px;
		padding: 0 19px;
		text-transform: uppercase;
		background-color: @navLinks;
		border: none;
		&:hover, &:focus {
			border: none;
			background-color: darken(@navLinks, 20%);
		}
	}
}
.logged-in-as {
	padding: 0 15px;
}

// Gallery slider styling 
.post-thumbnail {
	.galery-carousel {
		.owl-nav {
			margin: 0;
		}
	}
}
.overflow-navs {
	position: relative;
	margin-bottom: 40px;
	.owl-nav {
		div.owl-prev, div.owl-next {
			font-size: @fs18 + 10;
			color: darken(@white, 90%);
			background-color: @productThumbnailsNav;
	    	border-radius: 0;
	    	padding: 0;
	    	text-align: center;
		    line-height: 36px;
		    width: 36px;
		    height: 36px;
		}
		.owl-prev {
			position: absolute;
		    left: 0;
	       	top: 35%;
		}
		.owl-next {
			position: absolute;
		    right: 0;
		    top: 35%;
		}
	}
}

// Home slider styling 
.master-slider {
		position: relative;
		margin-bottom: 80px !important;
			.ms-slide-info {
				font-family: @Montserrat;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				bottom: auto !important;
				h5 {
					color: @white;
					font-size: @fs14;
					font-weight: 400;
					letter-spacing: 2px;
					margin-bottom: 24px;
					text-transform: uppercase;
				}
				h2 {
					color: @white;
					font-size: 68px;
					font-weight: 600;
					line-height: 65px;
					margin-bottom: 24px;
				}
				.span {
					color: rgba(255,255,255,0.7);
					font-family: @OpenSans;
					font-size: @fs18 - 1;
					font-weight: 500;
					margin-bottom: 27px;
				}
				a {
					color: @white;
					display: inline-block;
					font-size: @fs14 - 1;
					font-weight: 500;
					padding: 13px 25px;
					border-radius: 3px;
					background-color: rgba(0,0,0,0.15);
					text-transform: uppercase;
					transition: all 0.3s linear;
					&:hover {
						background-color: rgba(0,0,0,0.5);
					}
				}
			}
			.ms-bullets {
				.ms-bullet {
					background: rgba(255,255,255,0.4);
					width: 15px;
					height: 15px;
					border-radius: 50%;
					&.ms-bullet-selected {
						background-color: @white;
					}
				}
			}
		}
.flex-control-nav {
	width: auto;
	bottom: 42px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	li {
		a {
			background-color: rgba(255,255,255, 0.4);
			box-shadow: none;
			transition: all 0.3s linear;
			&.flex-active, &:hover {
				background-color: @white;
			}
		}
	}
}
.custom-heading {
	.cust-heading;
}
.posts-carousel {
	cursor: url("../../uploads/2017/02/drag.png") 16 9, ew-resize ;
}
// Home products 
.home-products {
	margin-bottom: 25px;
	.custom-heading {
		margin-bottom: 100px;
		&:before, &:after {
			width: 39%;
		}
	}
	.woocommerce {
		.products {
			.product {
				float: left;
				clear: none;
				padding-bottom: 90px;
				&:nth-child(4n + 1) {
					clear: both;
				}
			}
		}
	}
}

// Banner stylying 
.banners-row {
	margin-bottom: 32px;
}
.small-banner {
	margin-bottom: 26px;
}
.banner-wrap {
	text-align: center;
	padding: 60px 45px 45px;
	.banner{
		&-title {
			color: @navLinks;
			font-family: @Montserrat;
			font-size: @fs14+1;
			font-weight: 600;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
		&-description {
			color: @postPar;
			font-family: @OpenSans;
			font-size: @fs14;
			line-height: 23px;
		}
		&-icon { 
			i {
				color: @paginateActiveBg;
				font-size: 50px;
			}
			img {
				max-width: 50px;
				height: auto;
			}
			margin-bottom: 16px;
		}
	}
}
.testimonials-row {
	padding: 100px 0 40px;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: 112px;
	.slick-arrow {
		&:focus, &:hover:focus {
			outline: none;
		}
	}
	.testimonial-left {
		padding: 0 209px 24px;
	}
	.quote {
		&:focus {
			outline: none;
		}
		.testimonial-content {
			margin-bottom: 18px;
		}
		.testimonials-text {
			p {
				color: @postPar;
				font-size: @fs18;
				font-family: @OpenSans;
				font-weight: 400;
				line-height: 28px;
				em {
					&:before, &:after {
						content: "";
					}
				}
			}
		}
		.testimonial-author {
			color: @navLinks;
			font-size: @fs18;
			font-family: @Montserrat;
			font-weight: 600;
			line-height: 28px;
			text-transform: uppercase;
		}
		.testimonial-job {
			color: #89afe1;
			font-family: @OpenSans;
			font-size: @fs14;
			line-height: 26px;
		}
		.item-content {
			color: @postPar;
			font-family: @OpenSans;
			font-size: @fs18;
			line-height: 26px;
		}
		.author-name {
			font-size: @fs18;
		}
	}
	.avtar-image {
		img {
			max-width: 50px;
			max-height: 50px;
		}
	}
}
.testimonials-slidelist {
	.slick-dots { 
		li {
			button {
				background-color: @testimonialsDots !important;
				border: none;
			}
			&.slick-active {
				button {
					background-color: @testimonialsActiveDots !important;
					border: none;
				}
			}
		}
	}
}

// Woocommerce page
.Shop-widgets {
	margin-bottom: 62px;
	.widget-title {
		color: @navLinks;
		font-family: @Montserrat;
		font-size: @fs18;
		line-height: 24px;
		padding-bottom: 22px;
		margin-bottom: 22px;
		border-bottom: 1px solid @paginateBorder;
	}
	&.widget_product_categories {
		.widget-title {
			color: @paginateActiveBg;
			font-weight: 600;
			margin-bottom: 0;
			.pagination;
		}
	}
	.product-categories {
		.cat-item {
			padding: 18px 0;
			border-bottom: 1px solid @paginateBorder;
			a {
				color: @singlePostPar;
				font-family: @Montserrat;
				font-size: @fs14 - 1;
				font-weight: 400;
			}
		}
	}
} 
	.product {
		position: relative;
		text-align: center;
	}
	.products {
		.col-product {
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		.product {
			padding-bottom: 27px;
			.wp-post-image {
				margin-bottom: 40px;
			}
			&-category {
				color: @paginateActiveBg;
				font-size: @fs12 - 1;
				font-family: @Montserrat;
				font-weight: 400;
				line-height: @fs22 + 2;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 7px;
			}
			&-title {
				color: @navLinks;
				font-size: @fs18;
				font-family: @Montserrat;
				line-height: @fs22 + 2;
				margin-bottom: 7px;
				text-transform: capitalize;
				a {
					color: @navLinks;
				}
			}
			.price {
				color: @navLinks;
				font-size: @fs12 + 1;
				line-height: @fs22 + 2;
				display: block;
				transition: all 0.3s linear;
			}
			.add_to_cart_button, .product_type_grouped {
			    position: absolute;
			    left: 25%;
			    background-color: @paginateActiveBg;
			    color: #fff;
			    font-size: 10px;
			    padding: 0 15px 0 0;
			    text-transform: uppercase;
			    top: auto;			   
			    visibility: hidden;
			    transition: transform 0.7s;
			    transform: translate3d(-30%,0,0);
				&:before {
					font-family: FontAwesome;
					display: inline-block;
	   				content: "\f07a";
	   				font-size: @fs12;
	   				padding: 12px;
	   				margin-right: 16px;
	   				background-color: rgba(0,0,0, 0.2);
				}
			}
			&:hover {
				.price {
					display: none;
				}
				.add_to_cart_button, .product_type_grouped {
					visibility: visible;
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	.added_to_cart {
		.view-cart;
		padding: 11px 20px;
		display: inline-block;
		vertical-align: middle;
	}
	.onsale {
		position: absolute;
		top: -15px;
		left: -10px;
		color: @white;
	    font-weight: bold;
	    font-size: 0.8em;
	    width: 3.75em;
	    height: 3.75em;
	    line-height: 3.75em;
	    display: inline-block;
	    text-align: center;
	    background: @paginateActiveBg;
	    border-radius: 50%;
	    text-transform: uppercase;
	    z-index: 2;
	}
#add_payment_method .wc-proceed-to-checkout::after, .woocommerce .widget_layered_nav ul li::after, .woocommerce .widget_rating_filter ul li::after, .woocommerce .widget_shopping_cart .buttons::after, .woocommerce ul.order_details::after, .woocommerce-account .addresses .title::after, .woocommerce-account .woocommerce::after, .woocommerce-cart .wc-proceed-to-checkout::after, .woocommerce-checkout .wc-proceed-to-checkout::after, .woocommerce-error::after, .woocommerce-info::after, .woocommerce-message::after, .woocommerce.widget_shopping_cart .buttons::after {
    clear: both;
}
.woocommerce .widget_layered_nav ul li.chosen a::before, .woocommerce .widget_layered_nav_filters ul li a::before {
    line-height: 1;
    content: "";
    font-weight: 400;
    color: #a00;
    font-family: WooCommerce;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
.woocommerce .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1;
}
.woocommerce .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 1px 1px 0;
    list-style: none;
}
.woocommerce .widget_layered_nav_filters ul li a {
    text-decoration: none;
}
.woocommerce .widget_layered_nav_filters ul li a::before {
    margin-right: .618em;
}
.woocommerce .widget_price_filter {
	padding-bottom: 8px;
	.price_slider {
    	margin-bottom: 1em;
	}
}
.woocommerce .widget_price_filter .price_slider_amount {
    text-align: left;
    line-height: 2.4;
    font-size: .8751em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 1.1em;
    color: @white;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 500;
    background-color: @paginateActiveBg;
    float: right;
    border: none;
    outline: none;
}
.woocommerce .price_label {
	font-size: 1.1em;
	color: @singlePostPar;
	.from, .to {
		color: @navLinks;
	}
}
.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.7em;
    height: 0.7em;
    background-color: @navLinks;
    cursor: ew-resize;
    outline: 0;
    top: -.2em;
    margin-left: -.5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-color: @navLinks;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: @inputBorder;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 3px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}
.woocommerce .widget_rating_filter ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
.woocommerce .widget_rating_filter ul li {
    padding: 0 0 1px;
    list-style: none;
}
.woocommerce .widget_rating_filter ul li::after, .woocommerce .widget_rating_filter ul li::before {
    content: ' ';
    display: table;
}
.woocommerce .widget_rating_filter ul li a {
    padding: 1px 0;
    text-decoration: none;
}
.woocommerce .widget_rating_filter ul li .star-rating {
    float: none;
    display: inline-block;
}
.rtl.woocommerce div.product div.images .flex-control-thumbs li, .woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
    float: right;
}
.woocommerce .widget_rating_filter ul li.chosen a::before {
    font-family: WooCommerce;
 speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: "";
    text-decoration: none;
    color: #a00;
}
.widget_shopping_cart {
	.mini_cart_item {
		padding: 13px 0 26px;
		border-bottom: 1px solid @paginateBorder;
		a {
			color: #000;
			font-size: @fs14 + 1;
			line-height: 30px;
			vertical-align: middle;
			display: block;
		}
		.remove {
			float: right;
			color: #9f9f9f;
		}
		.wp-post-image {
			max-width: 40px; // temporarily 
			height: auto;
			float: left;
			margin-right: 13px; // Important to say about it
			vertical-align: middle;
		}
		.quantity {
			color: #616161;
		}
	}
	.total {
		text-align: center;
		color: @singlePostPar;
		font-size: @fs14;
		padding: 25px 0;
		border-bottom: 1px solid @paginateBorder;
		text-transform: uppercase;
		margin-bottom: 18px;
		strong {
			vertical-align: middle;
		}
		.amount {
			font-size: @fs22 - 2;
			color: #2c2c2c;
			vertical-align: middle;
		}
	}
	.buttons {
		.wc-forward {
			color: @white;
			font-size: @fs14 - 1;
			padding: 13.5px 23px;
			background-color: @paginateActiveBg;
			text-transform: uppercase;
			float: left;
			&.checkout {
				float: right;
				background-color: @navLinks;
			}
		}
	}
}
.woocommerce {
	.products-sorting {
		.pagination;
		padding: 18px 0;
	}
	.showing-posts {
		padding: 12px 0 11px 28px;
		text-transform: uppercase;
	}
	.woocommerce-ordering {
		float: left;
		position: relative;
		select {
			position: relative;
			padding: 7px 0 7px 12px;
			font-size: @fs14;
			color: #7c7c7c;
			border: 1px solid @paginateBorder;
			    &:focus {
			    	outline: none;
			    }
		    }
		    &:after {
		    	content: "";
			    width: 2px;
			    height: 36px;
			    display: inline-block;
			    position: absolute;
			    top: 0;
			    right: 18px;
			    border: 1px solid @paginateBorder;
			    z-index: 2;
			}
		}
		.paginating {
			padding: 11px 0;
		}
		.shop-top-pagination {
			margin-bottom: 70px;
		}
	#content div.product .woocommerce-tabs, 
	#content div.product .woocommerce-tabs ul.tabs::after, 
	#content div.product div.thumbnails a.first, 
	#content div.product div.thumbnails::after, 
	.cart-collaterals::after, 
	.col2-set::after, 
	.woocommerce-pagination ul.page-numbers::after, 
	div.product .woocommerce-tabs, 
	div.product .woocommerce-tabs ul.tabs::after, 
	div.product div.thumbnails a.first, 
	div.product div.thumbnails::after, 
	ul.products li.first, 
	ul.products::after, 
	#content div.product .woocommerce-tabs, 
	#content div.product .woocommerce-tabs ul.tabs::after, 
	#content div.product div.thumbnails a.first, 
	#content div.product div.thumbnails::after, 
	.cart-collaterals::after, 
	.col2-set::after, 
	.woocommerce-pagination ul.page-numbers::after, 
	div.product .woocommerce-tabs, 
	div.product .woocommerce-tabs ul.tabs::after, 
	div.product div.thumbnails a.first, 
	div.product div.thumbnails::after, 
	ul.products li.first, 
	ul.products::after {
		clear: both;
	}
}
.woocommerce-message {
	padding: 20px 30px;
    margin: 0 0 20px;
    background-color: lightblue;
    border: 1px solid @paginateActiveBg;
    clear: both;
}
.woocommerce.single-product {
	.content-wrapper {
		margin-bottom: 25px;
	}
	.added_to_cart {
		position: relative;
		top: auto;
		right: auto;
	}
	.product {
		.summary {
			text-align: left;
			.product_title {
				color: @auName;
				font-size: @fs36;
				line-height: @fs30;
				margin-bottom: 11px;
				text-transform: capitalize;
			}
			.product-category {
				color: @paginateActiveBg;
				font-size: @fs14;
				line-height: @fs30;
				text-transform: uppercase;
				margin-bottom: 23px;
			}
			.price {
				color: @paginateActiveBg;
				font-size: 36px;
				margin-bottom: 37px;
				display: inline-block;
				del {
					color: @navLinks;
					.amount {
						color: @navLinks;
						font-size: @fs22 + 4;
						line-height: 50px;
						vertical-align: middle;
					}
				}
				ins {
					text-decoration: none;
				}
			}
			.add-to-cart-and-count {
				margin-bottom: 53px;
			}
			.quantity {
				display: inline-block;
				margin-right: 30px;
				vertical-align: bottom;
			}
			input[type=number].qty { 
				  -moz-appearance: textfield;
				  appearance: textfield;
				  width: 46px;
				  padding: 1px 0;
				}
			input[type=number].qty::-webkit-inner-spin-button, 
			input[type=number].qty::-webkit-outer-spin-button { 
			      -webkit-appearance: none; 
			}
			.count-input {
				border-bottom: 2px solid @inputAddToCart;			
				input.input-text {
					color: @navLinks;
					font-size: @fs14 + 2;
					font-weight: 600;
					font-family: @Roboto;
					border: none;
					text-align: center;
				}
				.incr-btn {
					color: @inputAddToCart;
					font-weight: 600;
					font-size: @fs22 + 2;
				}
			}
			.product_meta {
				& > span {
					display: block;
					color: @postSingleTime;
					font-size: @fs14 - 1;
					line-height: 24px;
					a {
						color: @navLinks;
						font-size: @fs14 - 1;
					}
				}
				text-transform: uppercase;
				margin-bottom: 30px;
			}
		}
		.post-social {
			li {
				a {
					background-color: transparent;
					font-size: @fs14 + 1;
					&:hover {
						background-color: transparent;
						color: @paginateActiveBg;
					}
				}
			}
		}
		.woocommerce-product-rating {
			margin-bottom: 29px;
		}
	}
	.woocommerce-product-gallery {
		margin-right: 3%;
		position: relative;
	}
	.woocommerce-product-gallery__trigger {
		position: absolute;
		left: 0;
		top: 52%;
		z-index: 3;
	}
	.woocommerce-product-gallery, .summary {
		float: left;
		width: 48%;
	}
	.woocommerce-product-details__short-description, .woocommerce-variation-description {
		color: @singlePostPar;
		font-size: @fs14;
		font-family: @Roboto;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 32px;
	}
	.related {
		h2 {
			.cust-heading;
			&:before, &:after {
				width: 39%;
			}
		}
	}
	table.variations * {
		color: @navLinks;
		margin-bottom: 20px;
		.label {
			font-size: @fs14 + 1;
		}
		.reset_variations {
			font-size: @fs14 + 1;
			margin-left: 20px;
			padding: 5px 10px;
			text-transform: uppercase;
			transition: all 0.3s;
			&:hover, &:focus, &:hover:focus {
				background-color: @navLinks;
				color: @white;
			}
		}
	}
}
.woocommerce {
	p.stars a::before,.woocommerce p.stars a:hover~a::before{content:'\e021'}
	p.stars a{position:relative;height:1em;width:1em;text-indent:-999em;display:inline-block;text-decoration:none}
	p.stars.selected a.active::before,.woocommerce p.stars:hover a::before{content:'\e020'}
	p.stars.selected a.active~a::before{content:'\e021'}
	p.stars.selected a:not(.active)::before{content:'\e020'}
	p.stars a::before {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 1em;
	    height: 1em;
	    color: @paginateActiveBg;
	    line-height: 1;
	    font-family: WooCommerce;
	    text-indent: 0;
	}
	.star-rating {
	    float: right;
	    overflow: hidden;
	    position: relative;
	    height: 1em;
	    line-height: 1;
	    font-size: 1em;
	    width: 5.4em;
	    font-family: star;
	}
	.star-rating::before {
	    content: '\53\53\53\53\53';
	    color: @inputAddToCart;
	    float: left;
	    top: 0;
	    left: 0;
	    position: absolute;
	}
	.star-rating span {
	    overflow: hidden;
	    float: left;
	    top: 0;
	    left: 0;
	    position: absolute;
	    padding-top: 1.5em;
	    &::before {
	    	color: @paginateActiveBg;
		    content: '\53\53\53\53\53';
		    top: 0;
		    position: absolute;
		    left: 0;
		}
	}
	.woocommerce-product-rating {
	    line-height: 2;
	    display: block;
	}
	.woocommerce-product-rating::after, 
	.woocommerce-product-rating::before {
	    content: ' ';
	    display: table;
	}
	.woocommerce-product-rating .star-rating {
	    margin: .5em 4px 0 0;
	    float: left;
	}
	.products .star-rating {
	    display: block;
	    margin: 0 0 .5em;
	}
	.hreview-aggregate .star-rating {
	    margin: 10px 0 0;
	}
	.single_add_to_cart_button, .shop_table td.actions input[type=submit] {
		color: @white;
		font-size: @fs14;
		padding: 11px 20px;
		background-color: @navLinks;
		border: none;
		text-transform: uppercase;
	}
	.shop_table {
		border-top: 1px solid @inputBorder;
		thead {
			border-bottom: 1px solid @navLinks;
		}
		tr {
			th {
			padding: 20px;
		    text-align: center;
		    color: @navLinks;
		    font-size: @fs18;
			}
			td {
				color: @paginateActiveBg;
				text-align: center;
    			vertical-align: middle;
    			&.product-quantity {
    				color: @navLinks;
    			}
    			&.product-subtotal span {
    				color: #ff0000;
    			}
    			&.actions {
    				* {
    					display: inline-block;
    				}
    			}
			}
		}
	}
}
// end woocommerce 

// Products slider 
.flex-viewport {
	margin-bottom: 120px;
}
.flex-control-thumbs.owl-carousel {
	.owl-nav {
		display: block;
		.owl-prev {
			top: 50%;
			transform: translateY(-50%);
			left: -50px;
		}
		.owl-next {
			top: 50%;
			transform: translateY(-50%);
			right: -50px;
		}
	}
}

// Single bottom 
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
	    margin: 0 0 2.2em;
	    overflow: hidden;
	    position: relative;
		li {
			border: none;
			background-color: transparent;
			display: inline-block;
		    position: relative;
		    z-index: 0;
		    border-radius: 4px 4px 0 0;
		    padding: 0 1.3em;
			a { 
				display: inline-block;
			    padding: .5em 0;
				text-decoration: none;
				color: #b6b6b6;
				font-size: @fs22 - 2;
				font-weight: 300;
				font-family: @OpenSans;
				line-height: 30px;
				transition: color 0.2s linear;
			}
			&:before, &:after {
				content: none;
			}
			&.active, &:hover {
				a {
					text-decoration: none;
					color: @paginateActiveBg;
				}
			}
		}
	}
	.panel {
		color: @singlePostPar;
		font-size: @fs14 + 2;
		line-height: @fs22 + 4;
	    margin: 0 0 5.4em;
	    padding: 0;
	    border: none;
	    box-shadow: none;
	    p {
	    	margin-bottom: 25px;
	    }
	    .comment-form {
	    	margin: 0 -15px;
	    	& > p {
				padding: 0 15px;
	    	}
	    	p {
	    		margin-bottom: 30px;
	    		&.comment-form-author, &.comment-form-email {
		    		width: 50%;
		    		float: left;
		    	}
		    	label {
					border-bottom: 1px solid @paginateActiveBg;
					margin-bottom: 7px;
		    	}
	    	}
	    }
	}
} 
.woocommerce-Reviews {
	text-align: left;
	&-title {
		.pagination;
		color: @navLinks;
		border-width: 2px;
		border-color: @paginateActiveBg;
		margin-bottom: 70px;
		.pagination-left-text;
	}
}
#review_form_wrapper {
	.comment-reply-title {
		display: block;
		.pagination;
		color: @navLinks;
		border-width: 2px;
		border-color: @paginateActiveBg;
		margin-bottom: 70px;
		.pagination-left-text;
	}
}
#products-carousel {
	.owl-stage-outer {
		padding: 63px 10px 12px;
	}
	 .owl-nav {
	 	div.owl-prev {
			left: -80px;
	 	}
	 	div.owl-next {
	 		right: -80px;
	 	}
	 }
}

// About us page 
.about-us-banner {
	margin-bottom: 30px;
}
.large-banner {
	position: relative;
	.banner-text {
		position: absolute;
		text-align: center;
		font-size: @fs14 + 2;
		color: @productThumbnailsNav;
		line-height: @fs22 + 4;
		font-weight: 200;
		width: 100%;
    	max-width: 749px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 75px 100px;
		background-color: @largeBannerTextBg;
	}
	.title {
		font-family: @Montserrat;
		font-size: @fs22 - 2;
		color: @white;
		font-weight: 600;
		line-height: @fs22 + 4;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
}

// Contact us page 
.contact-map {
	margin-bottom: 42px;
}
.contact-us-left-col {
	padding-left: 0;
	margin-left: -15px;
}
.contact-us-title, .contact-info .widgettitle {
	.cust-heading;
	text-align: left;
	&:before, &:after {
		content: none;
	}
}
.contact-info {
	margin-bottom: 30px;
	.widgettitle {
		margin-bottom: 22px;
	}
	p {
		font-family: @OpenSans;
		font-size: @fs14 + 2;
		color: @singlePostPar;
		line-height: 26px;
		margin-bottom: 9px;
	}
	h4 {
		font-family: @Montserrat;
		color: @contact_info;
		font-size: @fs14 + 2;
		line-height: 25px;
		padding-top: 16px;
		margin-bottom: 7px;
	}
	.contact-us-data {
		color: @contact_info;
		font-weight: 600;
		border-bottom: 1px solid #a7a7a7;
		box-shadow: 0px 1px 0px 0 #d6d6d6;
	}
}
