// Colors
@prefooterBg: #3c6cab;
@white: #fff;
@nav_links: #1a1a1a;
@footerPar: #6c6c6c;
@footerBottom: #141414;

// Fonts 
@fs24: 24px;
@fs12: 12px;
@fs14: 14px;
@fs22: 22px;
@fs32: 32px;
@Poppins: "Poppins", sans-serif;
@Montserrat: "Montserrat", sans-serif;
@OpenSans: "Open Sans", sans-serif;

#prefooter {
	padding: 67px 0;
	font-size: @fs24;
	font-family: @Poppins;
	color: @white;
	font-weight: 600;
	background-color: @prefooterBg;
	line-height: @fs24 + 2;
	text-align: center;
	text-transform: uppercase;
	& div {
		display: inline-block;
	}
	.underline {
		border-bottom: 2px solid @white;
		font-weight: 700;
	}
}
#footer {
	padding: 100px 0;
	background-color: @nav_links;
	.widget-title {
		color: @white;
		font-size: @fs14;
		font-family: @Montserrat;
		font-weight: 600;
		line-height: @fs14 + 12;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	p {
		color: @footerPar;
		font-size: @fs14;
		font-family: @OpenSans;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.menu {
		li {
			a {
				color: @footerPar;
				font-size: @fs14 - 1;
				font-family: @OpenSans;
				line-height: 36px;
			}
		}
	}
}
#footer-bottom {
	color: #999999;
	text-align: center;
	padding: 40px 0; 
	font-family: @OpenSans;
	font-size: @fs12;
	font-weight: 600;
	background-color: @footerBottom;
	text-transform: uppercase;
	a {
		color: #345b8f;
	}
}