/*
Theme Name: Eighttheme
Theme URI: https://www.8theme.com/shop/wordpress/wooclean/
Author: 8theme
Author URI: http://8theme.com/
Description: Clean WooCommerce theme for WordPress
Version: 1.0
Tags: grid-layout, footer-widgets, blog, e-commerce, education, entertainment, food-and-drink, holiday, news, photography, portfolio
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: eighttheme
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	&:hover, &:focus, &:hover:focus {
		text-decoration: none;
		background-color: transparent;
	}
}
// Custom variables size 
@fs12: 12px;
@fs14: 14px;
@fs22: 22px;
@fs32: 32px;

// Custom variables colors 
@nav_links: #1a1a1a;
@post_time: #808080;
@post_par: #8c8c8c;
@padinateBorder: #ebebeb; // light grey 
@breadcrumbsColor: #b3b3b3;
@prefooterBg: #3c6cab;
@white: #fff;

// Fonts 
@Montserrat: "Montserrat", sans-serif;
@Poppins: "Poppins", sans-serif;
@OpenSans: "Open Sans", sans-serif;

// Mixins 
.breadcrumbs-title {
	color: @nav_links;
	font-size: @fs32;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 12px;
}
// Custom styles 

body {
	font-family: @Montserrat;
	font-weight: 500;
	font-size: 14px;
}
.content-wrapper {
	margin-bottom: 130px;
}
.header-wrap {
	border-bottom: 1px solid #ebebeb;
	padding: 20px 0;
}
.main-header {
	display: block;
	align-items: center;
}
.logo-header {
	display: block;
	padding: 15px 0;
}
.header-menu {
	padding-left: 15%;
}
#header-menu {
	ul {
		li {
			&:focus {
				outline: none;
			}
			a {
				color: @nav_links;
				font-size: @fs12;
				text-transform: uppercase;
				font-weight: 700;
				&:hover, &:focus, &:hover:focus {
					color: #3c6cab;
					background-color: transparent;
					outline: none;
				}
			}
			&.current-menu-item a {
				color: #3c6cab;
			}
		}
	}
}
.header-icons {
	position: relative;
	form, i {
		display: inline-block;
		font-size: @fs22 - 1;
	}
}
.header-cart {
	position: absolute;
	visibility: hidden;
	right: -7px;
	top: 1.5em;
	width: 22em;
	background-color: rgba(218, 218, 218, 0.3);
	padding: 20px 15px;
	transition: transform 0.9s;
	transform: translate3d(20%,0,0);
	border-left: 5px solid rgba(60, 108, 171, 0.48);
	border-right: 5px solid rgba(60, 108, 171, 0.48);
	z-index: 2222;
	h5 {
		text-align: center;
		font-size: @fs22;
		padding-bottom: 9px;
		border-bottom: 2px solid @paginateActiveBg;
	}

}
.woocommerce-icon-cart {
	position: relative;
	&:hover {
		.header-cart {
			visibility: visible;
			transform: translate3d(0,0,0);
		}
	}
	.cart-contents {
		color: @navLinks;
	    position: absolute;
	    right: -6px;
	    top: -5px;
	    color: #fff;
	    min-width: 14px;
	    min-height: 14px;
	    padding: 2px;
	    border-radius: 100%;
	    text-align: center;
	    font-size: 10px;
	    line-height: 11px;
	    font-weight: bold;
		background-color: @paginateActiveBg;
		&:active, &:hover:focus, &:focus {
			background-color: @paginateActiveBg;
		}
	}
}
.search-form {
	background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}
#searchModal {
	.modal-dialog {
		transform: translate(0,50%);
	}
	.modal-content {
		box-shadow: 0 3px 9px rgba(56, 111, 183, 0.55);
	}
	.modal-header {
		background-color: @prefooterBg;
		border-bottom: none;
		.close {
			text-shadow: none;
			opacity: 1;
			color: @white;
			position: relative;
			left: 24px;
    		top: -23px;
    		i.fa {
    			font-size: @fs22;
    		}
    		&:hover, &:focus, &:hover:focus {
    			border: none;
    			outline: none;
    		}
		}
	}
	.modal-title {
		color: @white;
		font-size: @fs18;
	}
	.modal-body {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.searchform {
		display: block;
	}
	#search {
		width: 80%;
		border: none;
		border-bottom: 1px solid @prefooterBg;
		font-size: @fs18;
		padding: 7px 10px;
		&:hover, &:focus, &:hover:focus {
			border: none;
			border-bottom: 1px solid @prefooterBg;
			outline: none;
		}
	}
	#searchsubmit {
		width: 18%;
		font-size: @fs18;
		color: lighten(@prefooterBg, 10%);
		padding: 13px;
		display: inline-block;
		border: none;
	  	vertical-align: middle;
	  	transform: perspective(1px) translateZ(0);
	  	box-shadow: 0 0 1px transparent;
	  	transition-duration: 0.5s;
	  	&:hover, &:focus, &:active {
		  	transform: scale(0.85);
		  	transition-timing-function: cubic-bezier(0.31, 1.06, 0.16, 0.74);
		  	outline: none;
	  	}
	}
}
.page-heading {
	padding: 70px 0;
	.bc-title {
		.breadcrumbs-title;
	}
}
.bc-return {
	color: @breadcrumbsColor;
	font-size: @fs14;
	display: block;
	float: right;
	text-transform: uppercase;
	text-decoration: underline;
	&:hover {
		color: @breadcrumbsColor;
		font-size: @fs14;
	}
}
.woocommerce-products-header {
	padding-top: 70px;
	.page-title {
		.breadcrumbs-title;
	}
}
.woocommerce-breadcrumb {
	color: @breadcrumbsColor;
	font-size: @fs14;
	padding-bottom: 70px;
	& a {
		color: @breadcrumbsColor;
		font-size: @fs14;
	}
}
// Breadcrumbs customize 
.kama_breadcrumbs {
	color: @breadcrumbsColor;
	font-size: @fs14;
	.kb-sep, .kb-title {
		font-size: @fs14;
	}
	a {
		color: @breadcrumbsColor;
	}
}

