/*
Theme Name: Eighttheme
Theme URI: https://www.8theme.com/shop/wordpress/wooclean/
Author: 8theme
Author URI: http://8theme.com/
Description: Clean WooCommerce theme for WordPress
Version: 1.0
Tags: grid-layout, footer-widgets, blog, e-commerce, education, entertainment, food-and-drink, holiday, news, photography, portfolio
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: eighttheme
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a:hover,
a:focus,
a:hover:focus {
  text-decoration: none;
  background-color: transparent;
}
.breadcrumbs-title {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.content-wrapper {
  margin-bottom: 130px;
}
.header-wrap {
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
}
.main-header {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-header {
  display: block;
  padding: 15px 0;
}
.header-menu {
  padding-left: 15%;
}
#header-menu ul li:focus {
  outline: none;
}
#header-menu ul li a {
  color: #1a1a1a;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
#header-menu ul li a:hover,
#header-menu ul li a:focus,
#header-menu ul li a:hover:focus {
  color: #3c6cab;
  background-color: transparent;
  outline: none;
}
#header-menu ul li.current-menu-item a {
  color: #3c6cab;
}
.header-icons {
  position: relative;
}
.header-icons form,
.header-icons i {
  display: inline-block;
  font-size: 21px;
}
.header-cart {
  position: absolute;
  visibility: hidden;
  right: -7px;
  top: 1.5em;
  width: 22em;
  background-color: rgba(218, 218, 218, 0.3);
  padding: 20px 15px;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
  -webkit-transform: translate3d(20%, 0, 0);
          transform: translate3d(20%, 0, 0);
  border-left: 5px solid rgba(60, 108, 171, 0.48);
  border-right: 5px solid rgba(60, 108, 171, 0.48);
  z-index: 2222;
}
.header-cart h5 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 9px;
  border-bottom: 2px solid #3c6cab;
}
.woocommerce-icon-cart {
  position: relative;
}
.woocommerce-icon-cart:hover .header-cart {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.woocommerce-icon-cart .cart-contents {
  color: #1a1a1a;
  position: absolute;
  right: -6px;
  top: -5px;
  color: #fff;
  min-width: 14px;
  min-height: 14px;
  padding: 2px;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 11px;
  font-weight: bold;
  background-color: #3c6cab;
}
.woocommerce-icon-cart .cart-contents:active,
.woocommerce-icon-cart .cart-contents:hover:focus,
.woocommerce-icon-cart .cart-contents:focus {
  background-color: #3c6cab;
}
.search-form {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}
#searchModal .modal-dialog {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
#searchModal .modal-content {
  -webkit-box-shadow: 0 3px 9px rgba(56, 111, 183, 0.55);
          box-shadow: 0 3px 9px rgba(56, 111, 183, 0.55);
}
#searchModal .modal-header {
  background-color: #3c6cab;
  border-bottom: none;
}
#searchModal .modal-header .close {
  text-shadow: none;
  opacity: 1;
  color: #fff;
  position: relative;
  left: 24px;
  top: -23px;
}
#searchModal .modal-header .close i.fa {
  font-size: 22px;
}
#searchModal .modal-header .close:hover,
#searchModal .modal-header .close:focus,
#searchModal .modal-header .close:hover:focus {
  border: none;
  outline: none;
}
#searchModal .modal-title {
  color: #fff;
  font-size: 18px;
}
#searchModal .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
#searchModal .searchform {
  display: block;
}
#searchModal #search {
  width: 80%;
  border: none;
  border-bottom: 1px solid #3c6cab;
  font-size: 18px;
  padding: 7px 10px;
}
#searchModal #search:hover,
#searchModal #search:focus,
#searchModal #search:hover:focus {
  border: none;
  border-bottom: 1px solid #3c6cab;
  outline: none;
}
#searchModal #searchsubmit {
  width: 18%;
  font-size: 18px;
  color: #5686c4;
  padding: 13px;
  display: inline-block;
  border: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
#searchModal #searchsubmit:hover,
#searchModal #searchsubmit:focus,
#searchModal #searchsubmit:active {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition-timing-function: cubic-bezier(0.31, 1.06, 0.16, 0.74);
          transition-timing-function: cubic-bezier(0.31, 1.06, 0.16, 0.74);
  outline: none;
}
.page-heading {
  padding: 70px 0;
}
.page-heading .bc-title {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.bc-return {
  color: #b3b3b3;
  font-size: 14px;
  display: block;
  float: right;
  text-transform: uppercase;
  text-decoration: underline;
}
.bc-return:hover {
  color: #b3b3b3;
  font-size: 14px;
}
.woocommerce-products-header {
  padding-top: 70px;
}
.woocommerce-products-header .page-title {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.woocommerce-breadcrumb {
  color: #b3b3b3;
  font-size: 14px;
  padding-bottom: 70px;
}
.woocommerce-breadcrumb a {
  color: #b3b3b3;
  font-size: 14px;
}
.kama_breadcrumbs {
  color: #b3b3b3;
  font-size: 14px;
}
.kama_breadcrumbs .kb-sep,
.kama_breadcrumbs .kb-title {
  font-size: 14px;
}
.kama_breadcrumbs a {
  color: #b3b3b3;
}
@font-face {
  font-family: star;
  src: url(fonts/star.eot);
  src: url(fonts/star.eot?#iefix) format("embedded-opentype"), url(fonts/star.woff) format("woff"), url(fonts/star.ttf) format("truetype"), url(fonts/star.svg#star) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: WooCommerce;
  src: url(fonts/WooCommerce.eot);
  src: url(fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(fonts/WooCommerce.svg#WooCommerce) format("svg");
  font-weight: 400;
  font-style: normal;
}
.blockquote {
  color: #4d4d4d;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  padding-left: 26px;
  border-left: 5px solid #e6e6e6;
  line-height: 30px;
  margin-bottom: 35px;
}
.tags {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  padding: 10px 9px;
  background-color: #f2f2f2;
  margin: 0 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tags:first-child {
  margin-left: 0;
}
.tags:hover,
.tags:focus,
.tags:hover:focus {
  color: #fff;
  background-color: #3c6cab;
}
.pagination {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
}
.pagination-left-text {
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.pagination-text-right {
  padding: 10px 15px;
  color: #666666;
  border: 1px solid #ebebeb;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0 3px;
  width: 36px;
  height: 36px;
}
.cust-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
  position: relative;
  margin-bottom: 40px;
}
.cust-heading:before,
.cust-heading:after {
  content: "";
  border-top: 2px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42%;
}
.cust-heading:after {
  left: auto;
  right: 0;
}
.view-cart {
  display: inline-block;
  color: #1a1a1a;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background: #f0f8ff;
  padding: 11px 10px 12px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.view-cart:hover,
.view-cart:focus,
.view-cart:hover:focus {
  background-color: #8ca9a8;
  color: #fff;
}
.post-wrap {
  margin-bottom: 60px;
}
.post-wrap:nth-child(3n + 1) {
  clear: both;
}
.post-wrap .post-thumbnail {
  position: relative;
  margin-bottom: 40px;
}
.post-wrap .post-thumbnail .post-quote {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 12%;
  padding-right: 12%;
}
.post-wrap .post-thumbnail .post-quote:before {
  content: "\201C";
}
.post-wrap .post-thumbnail .post-quote:after {
  content: "\2019\2019";
}
.post-wrap .format-quote .post-thumbnail:before {
  content: "";
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.post-wrap .format-quote .post-thumbnail:hover:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.post-wrap .format-quote .post-thumbnail:hover .post-quote {
  display: block;
}
.post-wrap .format-link h2 a {
  text-decoration: underline;
  color: #3c6cab;
}
.post-wrap .post-time {
  font-size: 12px;
  margin-bottom: 23px;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}
.post-wrap h2 {
  margin-bottom: 15px;
}
.post-wrap h2 a {
  color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.post-wrap p {
  color: #8c8c8c;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 25px;
}
.post-wrap .owl-dots {
  position: relative;
  bottom: 25px;
  margin-bottom: -25px;
}
.paginating {
  float: right;
}
.paginating .page-numbers {
  padding: 10px 15px;
  color: #666666;
  border: 1px solid #ebebeb;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0 3px;
  width: 36px;
  height: 36px;
}
.paginating .page-numbers:last-child {
  margin-right: 0;
}
.paginating .page-numbers.current,
.paginating .page-numbers:hover {
  background-color: #3c6cab;
  border-color: transparent;
  color: #fff;
}
.paginate {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
}
.showing-posts {
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #a6a6a6;
  font-size: 13px;
}
.showing-posts .posts-count {
  color: #343434;
}
.post-single .post-thumbnail {
  margin-bottom: 43px;
}
.post-single h2 {
  margin-bottom: 10px;
  color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.post-single .post-time {
  color: #b2b2b2;
  font-size: 14px;
}
.post-single .post-comments {
  font-size: 14px;
}
.post-single .post-data {
  font-size: 14px;
  margin-bottom: 50px;
}
.post-single .post-content {
  margin-bottom: 50px;
}
.post-single .post-social {
  float: right;
}
.post-single .post-social li:first-child {
  margin-left: 5px;
}
.post-single .post-social li:last-child {
  margin-right: 0px;
}
.post-single p {
  color: #999999;
  margin-bottom: 20px;
}
.post-single blockquote p {
  color: #4d4d4d;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  padding-left: 26px;
  border-left: 5px solid #e6e6e6;
  line-height: 30px;
  margin-bottom: 35px;
}
.post-single img.left {
  float: left;
  margin: 25px 55px 45px 0;
}
.post-single img.right {
  float: right;
  margin: 25px 0 45px 55px;
}
.post-single .galery-carousel .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.post-single .galery-carousel .owl-nav .owl-next,
.post-single .galery-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10%;
  height: 30%;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
}
.post-single .galery-carousel .owl-nav .owl-next:hover,
.post-single .galery-carousel .owl-nav .owl-prev:hover,
.post-single .galery-carousel .owl-nav .owl-next.disabled,
.post-single .galery-carousel .owl-nav .owl-prev.disabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.post-single .galery-carousel .owl-nav .owl-next i.fa,
.post-single .galery-carousel .owl-nav .owl-prev i.fa {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.post-single .galery-carousel .owl-nav .owl-next {
  right: 0;
}
.post-single .galery-carousel .owl-nav .owl-prev {
  left: 0;
}
.post-single .galery-carousel .owl-dots {
  display: none;
}
.post-single .gallery-item {
  margin-bottom: 30px;
}
.post-single .gallery-item img {
  border-radius: 3px;
  outline: 2px solid #a3c2f0;
  outline-offset: -10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.post-single .gallery-item img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  outline: none;
}
.post-tags {
  margin-bottom: 70px;
}
.post-tags a {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  padding: 10px 9px;
  background-color: #f2f2f2;
  margin: 0 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.post-tags a:first-child {
  margin-left: 0;
}
.post-tags a:hover,
.post-tags a:focus,
.post-tags a:hover:focus {
  color: #fff;
  background-color: #3c6cab;
}
.share-post {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
  margin-bottom: 70px;
}
.share-post .share-text {
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.post-social li {
  float: left;
  margin: 0 5px;
}
.post-social li:first-child {
  margin-left: 0;
}
.post-social li a {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  padding: 10px 9px;
  background-color: #f2f2f2;
  margin: 0 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline;
  margin: 0;
  padding: 9px 10px;
  max-width: 30px;
  max-height: 30px;
}
.post-social li a:first-child {
  margin-left: 0;
}
.post-social li a:hover,
.post-social li a:focus,
.post-social li a:hover:focus {
  color: #fff;
  background-color: #3c6cab;
}
.post-user {
  margin-bottom: 70px;
}
.post-user .author-avatar {
  display: inline-block;
  float: left;
  margin-right: 43px;
}
.post-user .author-data .author-name {
  margin-bottom: 20px;
}
.post-user .author-data .author-name a {
  color: #090909;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.post-user .author-data .author-description {
  color: #999999;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
}
.posted-comments .comment-title {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
}
.posted-comments .comment-title .posted-comments-count {
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.post-comments .comment-meta,
.commentlist .comment-meta {
  overflow: hidden;
}
.post-comments .comment-author-avatar,
.commentlist .comment-author-avatar,
.post-comments .comment .avatar,
.commentlist .comment .avatar {
  float: left;
  margin-right: 32px;
}
.post-comments .comment-author-name,
.commentlist .comment-author-name,
.post-comments .comment .meta,
.commentlist .comment .meta {
  display: block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.post-comments .comment-time,
.commentlist .comment-time {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #999999;
  margin-bottom: 20px;
}
.post-comments .comment-text,
.commentlist .comment-text {
  color: #999999;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 20px;
}
.post-comments .comment-reply,
.commentlist .comment-reply {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-comments .comment ul.children,
.commentlist .comment ul.children {
  padding-left: 120px;
}
.post-comments li.comment > div,
.commentlist li.comment > div {
  padding: 70px 0;
}
.post-comments > li.comment:not(:last-child),
.commentlist > li.comment:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.commentlist .comment-text {
  overflow: hidden;
}
.add-post {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.comment-form .comment-form-field,
.comment-form p {
  display: block;
  margin-bottom: 30px;
}
.comment-form .comment-form-field input,
.comment-form p input,
.comment-form .comment-form-field textarea,
.comment-form p textarea {
  width: 100%;
  padding: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
}
.comment-form .comment-form-field input:hover,
.comment-form p input:hover,
.comment-form .comment-form-field textarea:hover,
.comment-form p textarea:hover,
.comment-form .comment-form-field input:focus,
.comment-form p input:focus,
.comment-form .comment-form-field textarea:focus,
.comment-form p textarea:focus,
.comment-form .comment-form-field input:hover:focus,
.comment-form p input:hover:focus,
.comment-form .comment-form-field textarea:hover:focus,
.comment-form p textarea:hover:focus {
  outline: none;
}
.comment-form .comment-form-field .comment-area,
.comment-form p .comment-area {
  margin-bottom: 22px;
}
.comment-form .form-submit {
  padding: 0 15px;
  margin-bottom: 40px;
}
.comment-form .comment-submit,
.comment-form #submit {
  color: #fff;
  font-size: 14px;
  width: auto;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 36px;
  padding: 0 19px;
  text-transform: uppercase;
  background-color: #1a1a1a;
  border: none;
}
.comment-form .comment-submit:hover,
.comment-form #submit:hover,
.comment-form .comment-submit:focus,
.comment-form #submit:focus {
  border: none;
  background-color: #000000;
}
.logged-in-as {
  padding: 0 15px;
}
.post-thumbnail .galery-carousel .owl-nav {
  margin: 0;
}
.overflow-navs {
  position: relative;
  margin-bottom: 40px;
}
.overflow-navs .owl-nav div.owl-prev,
.overflow-navs .owl-nav div.owl-next {
  font-size: 28px;
  color: #191919;
  background-color: rgba(248, 248, 248, 0.8);
  border-radius: 0;
  padding: 0;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
}
.overflow-navs .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 35%;
}
.overflow-navs .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 35%;
}
.master-slider {
  position: relative;
  margin-bottom: 80px !important;
}
.master-slider .ms-slide-info {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: auto !important;
}
.master-slider .ms-slide-info h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.master-slider .ms-slide-info h2 {
  color: #fff;
  font-size: 68px;
  font-weight: 600;
  line-height: 65px;
  margin-bottom: 24px;
}
.master-slider .ms-slide-info .span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 27px;
}
.master-slider .ms-slide-info a {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.master-slider .ms-slide-info a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.master-slider .ms-bullets .ms-bullet {
  background: rgba(255, 255, 255, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.master-slider .ms-bullets .ms-bullet.ms-bullet-selected {
  background-color: #fff;
}
.flex-control-nav {
  width: auto;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.flex-control-nav li a {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.flex-control-nav li a.flex-active,
.flex-control-nav li a:hover {
  background-color: #fff;
}
.custom-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
  position: relative;
  margin-bottom: 40px;
}
.custom-heading:before,
.custom-heading:after {
  content: "";
  border-top: 2px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42%;
}
.custom-heading:after {
  left: auto;
  right: 0;
}
.posts-carousel {
  cursor: url("../../uploads/2017/02/drag.png") 16 9, ew-resize;
}
.home-products {
  margin-bottom: 25px;
}
.home-products .custom-heading {
  margin-bottom: 100px;
}
.home-products .custom-heading:before,
.home-products .custom-heading:after {
  width: 39%;
}
.home-products .woocommerce .products .product {
  float: left;
  clear: none;
  padding-bottom: 90px;
}
.home-products .woocommerce .products .product:nth-child(4n + 1) {
  clear: both;
}
.banners-row {
  margin-bottom: 32px;
}
.small-banner {
  margin-bottom: 26px;
}
.banner-wrap {
  text-align: center;
  padding: 60px 45px 45px;
}
.banner-wrap .banner-title {
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.banner-wrap .banner-description {
  color: #8c8c8c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}
.banner-wrap .banner-icon {
  margin-bottom: 16px;
}
.banner-wrap .banner-icon i {
  color: #3c6cab;
  font-size: 50px;
}
.banner-wrap .banner-icon img {
  max-width: 50px;
  height: auto;
}
.testimonials-row {
  padding: 100px 0 40px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 112px;
}
.testimonials-row .slick-arrow:focus,
.testimonials-row .slick-arrow:hover:focus {
  outline: none;
}
.testimonials-row .testimonial-left {
  padding: 0 209px 24px;
}
.testimonials-row .quote:focus {
  outline: none;
}
.testimonials-row .quote .testimonial-content {
  margin-bottom: 18px;
}
.testimonials-row .quote .testimonials-text p {
  color: #8c8c8c;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
}
.testimonials-row .quote .testimonials-text p em:before,
.testimonials-row .quote .testimonials-text p em:after {
  content: "";
}
.testimonials-row .quote .testimonial-author {
  color: #1a1a1a;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}
.testimonials-row .quote .testimonial-job {
  color: #89afe1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
}
.testimonials-row .quote .item-content {
  color: #8c8c8c;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.testimonials-row .quote .author-name {
  font-size: 18px;
}
.testimonials-row .avtar-image img {
  max-width: 50px;
  max-height: 50px;
}
.testimonials-slidelist .slick-dots li button {
  background-color: rgba(137, 175, 225, 0.15) !important;
  border: none;
}
.testimonials-slidelist .slick-dots li.slick-active button {
  background-color: #6389bc !important;
  border: none;
}
.Shop-widgets {
  margin-bottom: 62px;
}
.Shop-widgets .widget-title {
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #ebebeb;
}
.Shop-widgets.widget_product_categories .widget-title {
  color: #3c6cab;
  font-weight: 600;
  margin-bottom: 0;
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
}
.Shop-widgets .product-categories .cat-item {
  padding: 18px 0;
  border-bottom: 1px solid #ebebeb;
}
.Shop-widgets .product-categories .cat-item a {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.product {
  position: relative;
  text-align: center;
}
.products .col-product:nth-child(3n+1) {
  clear: both;
}
.products .product {
  padding-bottom: 27px;
}
.products .product .wp-post-image {
  margin-bottom: 40px;
}
.products .product-category {
  color: #3c6cab;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.products .product-title {
  color: #1a1a1a;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  margin-bottom: 7px;
  text-transform: capitalize;
}
.products .product-title a {
  color: #1a1a1a;
}
.products .product .price {
  color: #1a1a1a;
  font-size: 13px;
  line-height: 24px;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.products .product .add_to_cart_button,
.products .product .product_type_grouped {
  position: absolute;
  left: 25%;
  background-color: #3c6cab;
  color: #fff;
  font-size: 10px;
  padding: 0 15px 0 0;
  text-transform: uppercase;
  top: auto;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform: translate3d(-30%, 0, 0);
          transform: translate3d(-30%, 0, 0);
}
.products .product .add_to_cart_button:before,
.products .product .product_type_grouped:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f07a";
  font-size: 12px;
  padding: 12px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}
.products .product:hover .price {
  display: none;
}
.products .product:hover .add_to_cart_button,
.products .product:hover .product_type_grouped {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.added_to_cart {
  color: #1a1a1a;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background: #f0f8ff;
  padding: 11px 10px 12px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 11px 20px;
  display: inline-block;
  vertical-align: middle;
}
.added_to_cart:hover,
.added_to_cart:focus,
.added_to_cart:hover:focus {
  background-color: #8ca9a8;
  color: #fff;
}
.onsale {
  position: absolute;
  top: -15px;
  left: -10px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  width: 3.75em;
  height: 3.75em;
  line-height: 3.75em;
  display: inline-block;
  text-align: center;
  background: #3c6cab;
  border-radius: 50%;
  text-transform: uppercase;
  z-index: 2;
}
#add_payment_method .wc-proceed-to-checkout::after,
.woocommerce .widget_layered_nav ul li::after,
.woocommerce .widget_rating_filter ul li::after,
.woocommerce .widget_shopping_cart .buttons::after,
.woocommerce ul.order_details::after,
.woocommerce-account .addresses .title::after,
.woocommerce-account .woocommerce::after,
.woocommerce-cart .wc-proceed-to-checkout::after,
.woocommerce-checkout .wc-proceed-to-checkout::after,
.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after,
.woocommerce.widget_shopping_cart .buttons::after {
  clear: both;
}
.woocommerce .widget_layered_nav ul li.chosen a::before,
.woocommerce .widget_layered_nav_filters ul li a::before {
  line-height: 1;
  content: "";
  font-weight: 400;
  color: #a00;
  font-family: WooCommerce;
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.woocommerce .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: hidden;
  zoom: 1;
}
.woocommerce .widget_layered_nav_filters ul li {
  float: left;
  padding: 0 1px 1px 0;
  list-style: none;
}
.woocommerce .widget_layered_nav_filters ul li a {
  text-decoration: none;
}
.woocommerce .widget_layered_nav_filters ul li a::before {
  margin-right: .618em;
}
.woocommerce .widget_price_filter {
  padding-bottom: 8px;
}
.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount {
  text-align: left;
  line-height: 2.4;
  font-size: .8751em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 500;
  background-color: #3c6cab;
  float: right;
  border: none;
  outline: none;
}
.woocommerce .price_label {
  font-size: 1.1em;
  color: #999999;
}
.woocommerce .price_label .from,
.woocommerce .price_label .to {
  color: #1a1a1a;
}
.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.7em;
  height: 0.7em;
  background-color: #1a1a1a;
  cursor: ew-resize;
  outline: 0;
  top: -0.2em;
  margin-left: -0.5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color: #1a1a1a;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #e6e6e6;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 3px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce .widget_rating_filter ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
.woocommerce .widget_rating_filter ul li {
  padding: 0 0 1px;
  list-style: none;
}
.woocommerce .widget_rating_filter ul li::after,
.woocommerce .widget_rating_filter ul li::before {
  content: ' ';
  display: table;
}
.woocommerce .widget_rating_filter ul li a {
  padding: 1px 0;
  text-decoration: none;
}
.woocommerce .widget_rating_filter ul li .star-rating {
  float: none;
  display: inline-block;
}
.rtl.woocommerce div.product div.images .flex-control-thumbs li,
.woocommerce-error .button,
.woocommerce-info .button,
.woocommerce-message .button {
  float: right;
}
.woocommerce .widget_rating_filter ul li.chosen a::before {
  font-family: WooCommerce;
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: .618em;
  content: "";
  text-decoration: none;
  color: #a00;
}
.widget_shopping_cart .mini_cart_item {
  padding: 13px 0 26px;
  border-bottom: 1px solid #ebebeb;
}
.widget_shopping_cart .mini_cart_item a {
  color: #000;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  display: block;
}
.widget_shopping_cart .mini_cart_item .remove {
  float: right;
  color: #9f9f9f;
}
.widget_shopping_cart .mini_cart_item .wp-post-image {
  max-width: 40px;
  height: auto;
  float: left;
  margin-right: 13px;
  vertical-align: middle;
}
.widget_shopping_cart .mini_cart_item .quantity {
  color: #616161;
}
.widget_shopping_cart .total {
  text-align: center;
  color: #999999;
  font-size: 14px;
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.widget_shopping_cart .total strong {
  vertical-align: middle;
}
.widget_shopping_cart .total .amount {
  font-size: 20px;
  color: #2c2c2c;
  vertical-align: middle;
}
.widget_shopping_cart .buttons .wc-forward {
  color: #fff;
  font-size: 13px;
  padding: 13.5px 23px;
  background-color: #3c6cab;
  text-transform: uppercase;
  float: left;
}
.widget_shopping_cart .buttons .wc-forward.checkout {
  float: right;
  background-color: #1a1a1a;
}
.woocommerce .products-sorting {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  width: 100%;
  padding: 18px 0;
}
.woocommerce .showing-posts {
  padding: 12px 0 11px 28px;
  text-transform: uppercase;
}
.woocommerce .woocommerce-ordering {
  float: left;
  position: relative;
}
.woocommerce .woocommerce-ordering select {
  position: relative;
  padding: 7px 0 7px 12px;
  font-size: 14px;
  color: #7c7c7c;
  border: 1px solid #ebebeb;
}
.woocommerce .woocommerce-ordering select:focus {
  outline: none;
}
.woocommerce .woocommerce-ordering:after {
  content: "";
  width: 2px;
  height: 36px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 18px;
  border: 1px solid #ebebeb;
  z-index: 2;
}
.woocommerce .paginating {
  padding: 11px 0;
}
.woocommerce .shop-top-pagination {
  margin-bottom: 70px;
}
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails::after,
.woocommerce .cart-collaterals::after,
.woocommerce .col2-set::after,
.woocommerce .woocommerce-pagination ul.page-numbers::after,
.woocommerce div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product div.thumbnails a.first,
.woocommerce div.product div.thumbnails::after,
.woocommerce ul.products li.first,
.woocommerce ul.products::after,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails::after,
.woocommerce .cart-collaterals::after,
.woocommerce .col2-set::after,
.woocommerce .woocommerce-pagination ul.page-numbers::after,
.woocommerce div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product div.thumbnails a.first,
.woocommerce div.product div.thumbnails::after,
.woocommerce ul.products li.first,
.woocommerce ul.products::after {
  clear: both;
}
.woocommerce-message {
  padding: 20px 30px;
  margin: 0 0 20px;
  background-color: lightblue;
  border: 1px solid #3c6cab;
  clear: both;
}
.woocommerce.single-product .content-wrapper {
  margin-bottom: 25px;
}
.woocommerce.single-product .added_to_cart {
  position: relative;
  top: auto;
  right: auto;
}
.woocommerce.single-product .product .summary {
  text-align: left;
}
.woocommerce.single-product .product .summary .product_title {
  color: #090909;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px;
  text-transform: capitalize;
}
.woocommerce.single-product .product .summary .product-category {
  color: #3c6cab;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.woocommerce.single-product .product .summary .price {
  color: #3c6cab;
  font-size: 36px;
  margin-bottom: 37px;
  display: inline-block;
}
.woocommerce.single-product .product .summary .price del {
  color: #1a1a1a;
}
.woocommerce.single-product .product .summary .price del .amount {
  color: #1a1a1a;
  font-size: 26px;
  line-height: 50px;
  vertical-align: middle;
}
.woocommerce.single-product .product .summary .price ins {
  text-decoration: none;
}
.woocommerce.single-product .product .summary .add-to-cart-and-count {
  margin-bottom: 53px;
}
.woocommerce.single-product .product .summary .quantity {
  display: inline-block;
  margin-right: 30px;
  vertical-align: bottom;
}
.woocommerce.single-product .product .summary input[type=number].qty {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  width: 46px;
  padding: 1px 0;
}
.woocommerce.single-product .product .summary input[type=number].qty::-webkit-inner-spin-button,
.woocommerce.single-product .product .summary input[type=number].qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.woocommerce.single-product .product .summary .count-input {
  border-bottom: 2px solid #cccccc;
}
.woocommerce.single-product .product .summary .count-input input.input-text {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border: none;
  text-align: center;
}
.woocommerce.single-product .product .summary .count-input .incr-btn {
  color: #cccccc;
  font-weight: 600;
  font-size: 24px;
}
.woocommerce.single-product .product .summary .product_meta {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.woocommerce.single-product .product .summary .product_meta > span {
  display: block;
  color: #b2b2b2;
  font-size: 13px;
  line-height: 24px;
}
.woocommerce.single-product .product .summary .product_meta > span a {
  color: #1a1a1a;
  font-size: 13px;
}
.woocommerce.single-product .product .post-social li a {
  background-color: transparent;
  font-size: 15px;
}
.woocommerce.single-product .product .post-social li a:hover {
  background-color: transparent;
  color: #3c6cab;
}
.woocommerce.single-product .product .woocommerce-product-rating {
  margin-bottom: 29px;
}
.woocommerce.single-product .woocommerce-product-gallery {
  margin-right: 3%;
  position: relative;
}
.woocommerce.single-product .woocommerce-product-gallery__trigger {
  position: absolute;
  left: 0;
  top: 52%;
  z-index: 3;
}
.woocommerce.single-product .woocommerce-product-gallery,
.woocommerce.single-product .summary {
  float: left;
  width: 48%;
}
.woocommerce.single-product .woocommerce-product-details__short-description,
.woocommerce.single-product .woocommerce-variation-description {
  color: #999999;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.woocommerce.single-product .related h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
  position: relative;
  margin-bottom: 40px;
}
.woocommerce.single-product .related h2:before,
.woocommerce.single-product .related h2:after {
  content: "";
  border-top: 2px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42%;
}
.woocommerce.single-product .related h2:after {
  left: auto;
  right: 0;
}
.woocommerce.single-product .related h2:before,
.woocommerce.single-product .related h2:after {
  width: 39%;
}
.woocommerce.single-product table.variations * {
  color: #1a1a1a;
  margin-bottom: 20px;
}
.woocommerce.single-product table.variations * .label {
  font-size: 15px;
}
.woocommerce.single-product table.variations * .reset_variations {
  font-size: 15px;
  margin-left: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.woocommerce.single-product table.variations * .reset_variations:hover,
.woocommerce.single-product table.variations * .reset_variations:focus,
.woocommerce.single-product table.variations * .reset_variations:hover:focus {
  background-color: #1a1a1a;
  color: #fff;
}
.woocommerce p.stars a::before,
.woocommerce .woocommerce p.stars a:hover ~ a::before {
  content: '\e021';
}
.woocommerce p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
}
.woocommerce p.stars.selected a.active::before,
.woocommerce .woocommerce p.stars:hover a::before {
  content: '\e020';
}
.woocommerce p.stars.selected a.active ~ a::before {
  content: '\e021';
}
.woocommerce p.stars.selected a:not(.active)::before {
  content: '\e020';
}
.woocommerce p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  color: #3c6cab;
  line-height: 1;
  font-family: WooCommerce;
  text-indent: 0;
}
.woocommerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
}
.woocommerce .star-rating::before {
  content: '\53\53\53\53\53';
  color: #cccccc;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.woocommerce .star-rating span::before {
  color: #3c6cab;
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0;
}
.woocommerce .woocommerce-product-rating {
  line-height: 2;
  display: block;
}
.woocommerce .woocommerce-product-rating::after,
.woocommerce .woocommerce-product-rating::before {
  content: ' ';
  display: table;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: .5em 4px 0 0;
  float: left;
}
.woocommerce .products .star-rating {
  display: block;
  margin: 0 0 .5em;
}
.woocommerce .hreview-aggregate .star-rating {
  margin: 10px 0 0;
}
.woocommerce .single_add_to_cart_button,
.woocommerce .shop_table td.actions input[type=submit] {
  color: #fff;
  font-size: 14px;
  padding: 11px 20px;
  background-color: #1a1a1a;
  border: none;
  text-transform: uppercase;
}
.woocommerce .shop_table {
  border-top: 1px solid #e6e6e6;
}
.woocommerce .shop_table thead {
  border-bottom: 1px solid #1a1a1a;
}
.woocommerce .shop_table tr th {
  padding: 20px;
  text-align: center;
  color: #1a1a1a;
  font-size: 18px;
}
.woocommerce .shop_table tr td {
  color: #3c6cab;
  text-align: center;
  vertical-align: middle;
}
.woocommerce .shop_table tr td.product-quantity {
  color: #1a1a1a;
}
.woocommerce .shop_table tr td.product-subtotal span {
  color: #ff0000;
}
.woocommerce .shop_table tr td.actions * {
  display: inline-block;
}
.flex-viewport {
  margin-bottom: 120px;
}
.flex-control-thumbs.owl-carousel .owl-nav {
  display: block;
}
.flex-control-thumbs.owl-carousel .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
}
.flex-control-thumbs.owl-carousel .owl-nav .owl-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -50px;
}
.woocommerce-tabs ul.tabs {
  list-style: none;
  margin: 0 0 2.2em;
  overflow: hidden;
  position: relative;
}
.woocommerce-tabs ul.tabs li {
  border: none;
  background-color: transparent;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  padding: 0 1.3em;
}
.woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 0;
  text-decoration: none;
  color: #b6b6b6;
  font-size: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.woocommerce-tabs ul.tabs li:before,
.woocommerce-tabs ul.tabs li:after {
  content: none;
}
.woocommerce-tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li:hover a {
  text-decoration: none;
  color: #3c6cab;
}
.woocommerce-tabs .panel {
  color: #999999;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 5.4em;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.woocommerce-tabs .panel p {
  margin-bottom: 25px;
}
.woocommerce-tabs .panel .comment-form {
  margin: 0 -15px;
}
.woocommerce-tabs .panel .comment-form > p {
  padding: 0 15px;
}
.woocommerce-tabs .panel .comment-form p {
  margin-bottom: 30px;
}
.woocommerce-tabs .panel .comment-form p.comment-form-author,
.woocommerce-tabs .panel .comment-form p.comment-form-email {
  width: 50%;
  float: left;
}
.woocommerce-tabs .panel .comment-form p label {
  border-bottom: 1px solid #3c6cab;
  margin-bottom: 7px;
}
.woocommerce-Reviews {
  text-align: left;
}
.woocommerce-Reviews-title {
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  color: #1a1a1a;
  border-width: 2px;
  border-color: #3c6cab;
  margin-bottom: 70px;
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
#review_form_wrapper .comment-reply-title {
  display: block;
  padding: 29px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  color: #1a1a1a;
  border-width: 2px;
  border-color: #3c6cab;
  margin-bottom: 70px;
  display: inline-block;
  color: #090909;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
#products-carousel .owl-stage-outer {
  padding: 63px 10px 12px;
}
#products-carousel .owl-nav div.owl-prev {
  left: -80px;
}
#products-carousel .owl-nav div.owl-next {
  right: -80px;
}
.about-us-banner {
  margin-bottom: 30px;
}
.large-banner {
  position: relative;
}
.large-banner .banner-text {
  position: absolute;
  text-align: center;
  font-size: 16px;
  color: rgba(248, 248, 248, 0.8);
  line-height: 26px;
  font-weight: 200;
  width: 100%;
  max-width: 749px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 75px 100px;
  background-color: rgba(60, 108, 171, 0.8);
}
.large-banner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.contact-map {
  margin-bottom: 42px;
}
.contact-us-left-col {
  padding-left: 0;
  margin-left: -15px;
}
.contact-us-title,
.contact-info .widgettitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
  position: relative;
  margin-bottom: 40px;
  text-align: left;
}
.contact-us-title:before,
.contact-info .widgettitle:before,
.contact-us-title:after,
.contact-info .widgettitle:after {
  content: "";
  border-top: 2px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42%;
}
.contact-us-title:after,
.contact-info .widgettitle:after {
  left: auto;
  right: 0;
}
.contact-us-title:before,
.contact-info .widgettitle:before,
.contact-us-title:after,
.contact-info .widgettitle:after {
  content: none;
}
.contact-info {
  margin-bottom: 30px;
}
.contact-info .widgettitle {
  margin-bottom: 22px;
}
.contact-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #999999;
  line-height: 26px;
  margin-bottom: 9px;
}
.contact-info h4 {
  font-family: "Montserrat", sans-serif;
  color: #050505;
  font-size: 16px;
  line-height: 25px;
  padding-top: 16px;
  margin-bottom: 7px;
}
.contact-info .contact-us-data {
  color: #050505;
  font-weight: 600;
  border-bottom: 1px solid #a7a7a7;
  -webkit-box-shadow: 0px 1px 0px 0 #d6d6d6;
          box-shadow: 0px 1px 0px 0 #d6d6d6;
}
#prefooter {
  padding: 67px 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  background-color: #3c6cab;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
#prefooter div {
  display: inline-block;
}
#prefooter .underline {
  border-bottom: 2px solid #fff;
  font-weight: 700;
}
#footer {
  padding: 100px 0;
  background-color: #1a1a1a;
}
#footer .widget-title {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#footer p {
  color: #6c6c6c;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
#footer .menu li a {
  color: #6c6c6c;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 36px;
}
#footer-bottom {
  color: #999999;
  text-align: center;
  padding: 40px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-color: #141414;
  text-transform: uppercase;
}
#footer-bottom a {
  color: #345b8f;
}
